@tailwind base;

@tailwind components;

@tailwind utilities;

/* fjalla-one-regular - latin_latin-ext */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fjalla-one.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/fjalla-one.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



@media(max-width: 420px) {
  #edu-title {
    font-size: 40px;
  }
}

@media(max-width: 768px) {
  .main-cont {
    flex-direction: column-reverse;
  }

  .main-cont img {
    width: 50%;
    float: inherit;
    margin: 0 auto 25px;
  }
  #about{
    text-align: center;
    font-size: 5.3rem;
  }
  
}